language: ruby
bundler_args: --without development
script: rake spec
branches:
  only:
    - master
    - 1.1-stable
    - maintenance-1.1.13
rvm:
  # NOTE: do not use jruby-19mode otherwise some specs might fail
  # @see ruby/rack/application_spec.rb for an explanation on this
  #- jruby-18mode
  #- jruby-19mode
  - jruby
  - jruby-head
jdk:
  - openjdk6
  - oraclejdk7
  - oraclejdk8
gemfile:
  - Gemfile
  - gemfiles/rails23.gemfile
  - gemfiles/rails30.gemfile
  - gemfiles/rails31.gemfile
  - gemfiles/rails32.gemfile
  - gemfiles/rails40.gemfile
  #- gemfiles/rails41.gemfile
env:
  - JRUBY_OPTS="--1.8 $JRUBY_OPTS"
  - JRUBY_OPTS="$JRUBY_OPTS"
before_script: export JRUBY_OPTS="--server -Xcext.enabled=false -Xcompile.invokedynamic=false -J-XX:MaxPermSize=128m"
before_install:
  - ((jruby -v | grep 1.8.7) && jruby --1.9 -S gem update --system 2.1.11) || true
  - ((echo $BUNDLE_GEMFILE | grep rails23) && jruby --1.9 -S gem update --system 1.8.29) || true
matrix:
  allow_failures:
    - rvm: jruby-head
    #- gemfile: gemfiles/rails41.gemfile
  exclude:
    ## rails 4.0 does not run on --1.8
    - rvm: jruby
      gemfile: gemfiles/rails40.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: openjdk6
    - rvm: jruby
      gemfile: gemfiles/rails40.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk7
    - rvm: jruby
      gemfile: gemfiles/rails40.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk8
    ## rails 4.1 won't run on --1.8
    - rvm: jruby
      gemfile: gemfiles/rails41.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: openjdk6
    - rvm: jruby
      gemfile: gemfiles/rails41.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk7
    - rvm: jruby
      gemfile: gemfiles/rails41.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk8
    ## rails 4.0 does not run on --1.8 (jruby-head)
    - rvm: jruby-head
      gemfile: gemfiles/rails40.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: openjdk6
    - rvm: jruby-head
      gemfile: gemfiles/rails40.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk7
    - rvm: jruby-head
      gemfile: gemfiles/rails40.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk8
    ## rails 4.1 won't run on --1.8 (jruby-head)
    - rvm: jruby-head
      gemfile: gemfiles/rails41.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: openjdk6
    - rvm: jruby-head
      gemfile: gemfiles/rails41.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk7
    - rvm: jruby-head
      gemfile: gemfiles/rails41.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk8
    ## rails 3.2 jruby-head won't support --1.8
    - rvm: jruby-head
      gemfile: gemfiles/rails32.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: openjdk6
    - rvm: jruby-head
      gemfile: gemfiles/rails32.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk7
    - rvm: jruby-head
      gemfile: gemfiles/rails32.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk8
    ## do not run with 2.3 (jruby-head) :
    - rvm: jruby-head
      gemfile: gemfiles/rails23.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: openjdk6
    - rvm: jruby-head
      gemfile: gemfiles/rails23.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk7
    - rvm: jruby-head
      gemfile: gemfiles/rails23.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk8
    - rvm: jruby-head
      gemfile: gemfiles/rails23.gemfile
      env: JRUBY_OPTS="$JRUBY_OPTS"
      jdk: openjdk6
    - rvm: jruby-head
      gemfile: gemfiles/rails23.gemfile
      env: JRUBY_OPTS="$JRUBY_OPTS"
      jdk: oraclejdk7
    - rvm: jruby-head
      gemfile: gemfiles/rails23.gemfile
      env: JRUBY_OPTS="$JRUBY_OPTS"
      jdk: oraclejdk8
    ## do not run with 3.0 (jruby-head) :
    - rvm: jruby-head
      gemfile: gemfiles/rails30.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: openjdk6
    - rvm: jruby-head
      gemfile: gemfiles/rails30.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk7
    - rvm: jruby-head
      gemfile: gemfiles/rails30.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk8
    - rvm: jruby-head
      gemfile: gemfiles/rails30.gemfile
      env: JRUBY_OPTS="$JRUBY_OPTS"
      jdk: openjdk6
    - rvm: jruby-head
      gemfile: gemfiles/rails30.gemfile
      env: JRUBY_OPTS="$JRUBY_OPTS"
      jdk: oraclejdk7
    - rvm: jruby-head
      gemfile: gemfiles/rails30.gemfile
      env: JRUBY_OPTS="$JRUBY_OPTS"
      jdk: oraclejdk8
    ## do not run with 3.1 (jruby-head) :
    - rvm: jruby-head
      gemfile: gemfiles/rails31.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: openjdk6
    - rvm: jruby-head
      gemfile: gemfiles/rails31.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk7
    - rvm: jruby-head
      gemfile: gemfiles/rails31.gemfile
      env: JRUBY_OPTS="--1.8 $JRUBY_OPTS"
      jdk: oraclejdk8
    - rvm: jruby-head
      gemfile: gemfiles/rails31.gemfile
      env: JRUBY_OPTS="$JRUBY_OPTS"
      jdk: openjdk6
    - rvm: jruby-head
      gemfile: gemfiles/rails31.gemfile
      env: JRUBY_OPTS="$JRUBY_OPTS"
      jdk: oraclejdk7
    - rvm: jruby-head
      gemfile: gemfiles/rails31.gemfile
      env: JRUBY_OPTS="$JRUBY_OPTS"
      jdk: oraclejdk8