do.depend=true
do.jar=true
file.reference.main-java=/Users/nicksieger/Projects/jruby/jruby-contrib/rack/src/main/java
file.reference.rack-lib=/Users/nicksieger/Projects/jruby/jruby-contrib/rack/lib
file.reference.rack-spec=/Users/nicksieger/Projects/jruby/jruby-contrib/rack/spec
file.reference.servlet-api-2.3.jar=/Users/nicksieger/Projects/java/maven-repos/javax/servlet/servlet-api/2.3/servlet-api-2.3.jar
javac.debug=true
javadoc.preview=true
project.JRuby=/Users/nicksieger/Projects/jruby/trunk/jruby
user.properties.file=/Users/nicksieger/.netbeans/6.0/build.properties
