<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>JRuby-Rack Sample Application</title>
    <style type="text/css" media="screen">
      body {
        font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
      }
      .flash {
        border: 1px solid green;
        background-color: #bbffbb;
        padding: 5px;
      }
      pre {
        font-size: 1.2em;
      }
    </style>
  </head>
  <body>
    <div>
      <%= image_tag 'rails.png' %>
      <span style="font-size:1.5em">JRuby-Rack Sample Application</span>
    </div>
    <% if flash[:message] -%>
    <div class="flash">
      <span><%=h flash[:message] %></span>
    </div>
    <% end -%>
    <div>
      <%= yield %>
    </div>
  </body>
</html>