<html>
  <head><title>Sinatra includes JSP</title></head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="style.css" type="text/css" media="screen, projection">
    <link rel="shortcut icon" href="favicon.ico">
  <body>
    <div id="content">
      <div>This line of text came from ERB.</div>
      <br/>
      <div>And this is content from a JSP: <br/> <%= request.render "/jsp/include.jsp", {"message" => "I'm a message that came from Sinatra!"} %></div>
    </div>
  </body>
</html>
