<% if request.env['java.servlet_request'] %>
<p>Oops! Something's not right.<br/>The servlet filter should be
sending you to <a href='index.html'>index.html</a> instead.</p>
<% end %>

<h2>Request Environment</h2>
<ul>
<% request.env.keys.sort.each do |k| %>
<li><%= k %> = <%= env[k] %></li>
<% end %>
</ul>

<% if request.env['java.servlet_request'] %>
<h2>Servlet Request</h2>
<ul>
<% %w(ContextPath PathInfo PathTranslated QueryString RequestURI ServletPath).each do |m| %>
<li><%= m %> = <%= request.env['java.servlet_request'].send("get#{m}") %></li>
<% end %>
</ul>
<% end %>
