<div>This line of text came from a Rails ERB, today's date is <%= @today %></div>
<br/>
<div>And this is content from a JSP: <br\> <b><%= request.render "/jsp/include.jsp", {"message" => "I'm a message that came from Rails!"} %> </b></div>
