name: Java CI

on:
  push:
    branches: [ "master", "*-stable" ]
  pull_request:
    branches: [ "master", "*-stable" ]

env:
  # Default versions for canonical release build
  DEFAULT_JAVA_VERSION: '8'
  DEFAULT_JRUBY_VERSION: '9.4.13.0' # Should match pom.xml <jruby.version> property (AND a version inside the test matrix)

jobs:
  build:
    name: JRuby ${{ matrix.jruby_version }} / Java ${{ matrix.java_version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        jruby_version: [ '9.3.15.0', '9.4.13.0' ]
        java_version: [ '8', '11', '17', '21' ]
      fail-fast: false

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set up JDK
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      with:
        java-version: ${{ matrix.java_version }}
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: ./mvnw -B install -Djruby.version=${{ matrix.jruby_version }}

    # Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@b275d12641ac2d2108b2cbb7598b154ad2f2cee8 # v5.0.0
      if: github.head_ref == 'refs/heads/master' && matrix.java_version == env.DEFAULT_JAVA_VERSION && matrix.jruby_version == env.DEFAULT_JRUBY_VERSION

  appraisals:
    needs: build
    name: ${{ matrix.appraisal }} appraisal on ${{ matrix.jruby_version }} / Java ${{ matrix.java_version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        jruby_version: [ '9.3.15.0', '9.4.13.0' ]
        java_version: [ '8', '11', '17', '21' ]
        appraisal: [ 'rails50', 'rails52', 'rails60', 'rails61', 'rails70', 'rails71', 'rails72' ]
        exclude:
          - jruby_version: '9.3.15.0'
            appraisal: 'rails70' # Requires Ruby 2.7 compatibility, which JRuby 9.3 does not support
          - jruby_version: '9.3.15.0'
            appraisal: 'rails71' # Requires Ruby 2.7 compatibility, which JRuby 9.3 does not support
          - jruby_version: '9.3.15.0'
            appraisal: 'rails72' # Requires Ruby 3.1 compatibility, which JRuby 9.3 does not support
      fail-fast: false

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.appraisal }}.gemfile
      JRUBY_VERSION: ${{ matrix.jruby_version }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up JDK
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'temurin'
          cache: maven

      - name: Setup JRuby
        uses: ruby/setup-ruby@a4effe49ee8ee5b8b5091268c473a4628afb5651 # v1.245.0
        with:
          ruby-version: jruby-${{ matrix.jruby_version }}
          bundler-cache: 'false' # Need to install later so we can vary from Gemfile.lock as required for JRuby version compatibility
          bundler: ${{ startsWith(matrix.jruby_version, '9.3') && '2.3.27' || 'Gemfile.lock' }}

      - name: Run appraisal for ${{ matrix.appraisal }}
        run: bundle install && bundle exec rake spec

